<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        <table class="table table-striped">

            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Lecturer</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="lecture : ${allLecture}">
                <td th:text="${lecture.id}"></td>
                <td th:text="${lecture.name}"></td>
                <td th:text="${lecture.lecturer.name}"></td>
                <td th:text="${lecture.price}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer" />

</div> <!-- /container -->

</body>
</html>
